.photographyPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Auto width to prevent large slides */
  }
  
  .smallImage {
    width: 300px;
  }
  
  .largeImage {
    width: 300px;
  }
  
  .blogSection {
    text-align: center;
    margin-top: 1rem;
  }
  
  .blogTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #6a0dad; /* Purple */
  }
  
  .blogText {
    margin-top: 0.5rem;
    color: #6a0dad; /* Purple */
  }
  
  .readMore {
    color: #6a0dad; /* Purple */
    text-decoration: underline;
    margin-top: 0.5rem;
    display: inline-block;
  }
  